openapi: 3.2.0
info:
  title: Smokeball Matter Types API
  version: '1.0'
  description: REST API for integrating with Smokeball legal practice management software. Supports matters, contacts, documents, time entries, billing, trust accounting, staff, webhooks, and law firm workflows across US, AU, and UK regions. Uses OAuth 2.0 (client credentials) authentication.
  contact:
    name: Smokeball Developer Support
    url: https://docs.smokeball.com/docs/api-docs/1e13a13124aee-introduction
  x-api-id: smokeball
  x-audience: external-public
servers:
- url: https://api.smokeball.com
- url: https://api.smokeball.com.au
- url: https://api.smokeball.co.uk
- url: https://stagingapi.smokeball.com
- url: https://stagingapi.smokeball.com.au
- url: https://stagingapi.smokeball.co.uk
security:
- api-key: []
  token: []
tags:
- name: Matter Types
paths:
  /mattertypes:
    get:
      tags:
      - Matter Types
      summary: Get matter types
      description: 'Returns a paginated list of matter types based on search criteria. Deleted matter types are not included.


        Note: If no `Location` is provided, all matter types from all locations will be returned.'
      operationId: GetMatterTypes
      parameters:
      - name: Offset
        in: query
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      - name: Limit
        in: query
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
      - name: Name
        in: query
        description: Searches for partial match on matter type name
        schema:
          type: string
      - name: Location
        in: query
        description: Return matter types from a specific location. In the US API this is the ANSI 2 letter state code (e.g. IL, NY). In the AU API this is shorthand state code (e.g. NSW, ACT, etc)
        schema:
          type: string
      - name: Category
        in: query
        description: Return matter types from a specific category.
        schema:
          type: string
      - name: Type
        in: query
        description: "Return matter types by category type (i.e. MatterType or LeadType).\n            \nPossible values: Matter Type = 0, Lead Type = 1."
        schema:
          allOf:
          - $ref: '#/components/schemas/TypeCategory'
          example: 0
        example: 0
      responses:
        '200':
          description: When request is successful. Returns a paged collection of 'MatterTypeInfo' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterTypeInfoPagedCollection'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /mattertypes/{id}:
    get:
      tags:
      - Matter Types
      summary: Get a matter type
      description: Retrieves a specified matter type.
      operationId: GetMatterTypeById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: When request is successful. Returns a 'MatterType' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterType'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When matter type with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /mattertypes/categories:
    get:
      tags:
      - Matter Types
      summary: Get matter types categories
      description: Returns a list of all the possible matter type categories.
      operationId: GetCategories
      responses:
        '200':
          description: When request is successful. Returns a collection of 'Categories'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringCollection'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Link:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
      additionalProperties: false
    MatterListItem:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique provider-specific identifier of the item.
          example: Plaintiff
        providerId:
          type:
          - string
          - 'null'
          description: Provider name of the item.
          example: roles_provider
        itemId:
          type:
          - string
          - 'null'
          description: Unique identifier of the item.
          example: 009f778f-83df-454a-b344-768a862a7e55
        name:
          type:
          - string
          - 'null'
          description: Name of the item.
          example: Claimant
        subItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MatterListItem'
          description: List of sub items belonging to the item.
      additionalProperties: false
    StringCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    MatterTypeInfoPagedCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MatterTypeInfo'
        offset:
          type:
          - integer
          - 'null'
          format: int32
        limit:
          type:
          - integer
          - 'null'
          format: int32
        size:
          type: integer
          format: int64
        first:
          allOf:
          - $ref: '#/components/schemas/Link'
        previous:
          allOf:
          - $ref: '#/components/schemas/Link'
        next:
          allOf:
          - $ref: '#/components/schemas/Link'
        last:
          allOf:
          - $ref: '#/components/schemas/Link'
      additionalProperties: false
    MatterTypeInfo:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the matter type.
          example: 009f778f-83df-454a-b344-768a862a7e55
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the record.
          example: 832e778f-83df-454a-b344-768a862a7e67
        name:
          type:
          - string
          - 'null'
          description: Name of the matter type.
          example: Federal Litigation
        category:
          type:
          - string
          - 'null'
          description: Name of the category to which the matter type belongs.
          example: Litigation
        type:
          allOf:
          - $ref: '#/components/schemas/TypeCategory'
          description: "Name of the category type to which the matter type belongs (i.e. MatterType or LeadType).\n            \nPossible values: Matter Type = 0, Lead Type = 1."
          example: 0
        representativeOptions:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of possible representative types for the matter type.
          example:
          - Applicant
          - Respondent
        location:
          type:
          - string
          - 'null'
          description: State to which the matter type belongs.
          example: Litigation
        isDeleted:
          type: boolean
          description: 'Returns true if the matter type is deleted.


            Deleted matter types cannot be used when creating new leads/matters.'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    TypeCategory:
      enum:
      - 0
      - 1
      type: integer
      description: "Name of the category type to which the matter type belongs (i.e. MatterType or LeadType).\n            \nPossible values: Matter Type = 0, Lead Type = 1."
      format: int32
    MatterType:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the matter type.
          example: 009f778f-83df-454a-b344-768a862a7e55
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the record.
          example: 832e778f-83df-454a-b344-768a862a7e67
        name:
          type:
          - string
          - 'null'
          description: Name of the matter type.
          example: Federal Litigation
        category:
          type:
          - string
          - 'null'
          description: Name of the category to which the matter type belongs.
          example: Litigation
        type:
          allOf:
          - $ref: '#/components/schemas/TypeCategory'
          description: "Name of the category type to which the matter type belongs (i.e. MatterType or LeadType).\n            \nPossible values: Matter Type = 0, Lead Type = 1."
          example: 0
        representativeOptions:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of possible representative types for the matter type.
          example:
          - Applicant
          - Respondent
        location:
          type:
          - string
          - 'null'
          description: State to which the matter type belongs.
          example: Litigation
        isDeleted:
          type: boolean
          description: 'Returns true if the matter type is deleted.


            Deleted matter types cannot be used when creating new leads/matters.'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MatterListItem'
      additionalProperties: false
  securitySchemes:
    api-key:
      type: apiKey
      name: x-api-key
      in: header
    token:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
