openapi: 3.2.0
info:
  title: Smokeball Contacts API
  version: '1.0'
  description: REST API for integrating with Smokeball legal practice management software. Supports matters, contacts, documents, time entries, billing, trust accounting, staff, webhooks, and law firm workflows across US, AU, and UK regions. Uses OAuth 2.0 (client credentials) authentication.
  contact:
    name: Smokeball Developer Support
    url: https://docs.smokeball.com/docs/api-docs/1e13a13124aee-introduction
  x-api-id: smokeball
  x-audience: external-public
servers:
- url: https://api.smokeball.com
- url: https://api.smokeball.com.au
- url: https://api.smokeball.co.uk
- url: https://stagingapi.smokeball.com
- url: https://stagingapi.smokeball.com.au
- url: https://stagingapi.smokeball.co.uk
security:
- api-key: []
  token: []
tags:
- name: Contacts
paths:
  /contacts/{contactId}/relations:
    get:
      tags:
      - Contacts
      summary: Get contact relations
      description: Returns a list of relations for a specified contact if associated with the authenticated client.
      operationId: GetRelations
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: When request is successful. Returns a paged collection of 'Link' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkPagedCollection'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    post:
      tags:
      - Contacts
      summary: Create a contact relation
      description: Creates a relation for a specified contact.
      operationId: CreateRelation
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When related contact id is not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contacts/{contactId}/relations/{relatedContactId}:
    get:
      tags:
      - Contacts
      summary: Get a contact relation
      description: Retrieves a relation for a specified contact if associated with the authenticated client.
      operationId: GetRelationById
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      - name: relatedContactId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - Contacts
      summary: Update a contact relation
      description: Updates a relation for a specified contact.
      operationId: UpdateRelation
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      - name: relatedContactId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactRelationDto'
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Contacts
      summary: Delete a contact relation
      description: Deletes a relation for a specified contact.
      operationId: DeleteRelation
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      - name: relatedContactId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contacts:
    get:
      tags:
      - Contacts
      summary: Get contacts
      description: Returns a list of contacts.
      operationId: GetContacts
      parameters:
      - name: Offset
        in: query
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      - name: Limit
        in: query
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
      - name: UpdatedSince
        in: query
        description: Returns contacts updated since a specified time (.net ticks representation of the UTC datetime).
        schema:
          type: integer
          format: int64
      - name: ExcludeDeletedContacts
        in: query
        description: Excludes (filters out) deleted contacts if set to true.
        schema:
          type: boolean
          example: true
        example: true
      - name: Type
        in: query
        description: 'Filters result by one more contact types if set. Returns all contact types by default.

          Possible values: Staff, Person, Organisation, GroupOfPeople, Trust'
        schema:
          type: array
          items:
            type: string
      - name: Search
        in: query
        description: ' Available fields: email, phone, name'
        schema:
          type: array
          items:
            type: string
      - name: Sort
        in: query
        description: ' Available fields: lastUpdated'
        schema:
          type: string
      - name: Fields
        in: query
        description: ' Available fields: passportDetails, deathDetails, citizenshipDetails, utbmsDetails, tags, executionOptions, voiDetails'
        schema:
          type: string
      responses:
        '200':
          description: When request is successful. Returns a paged collection of 'Contact' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPagedCollection'
    post:
      tags:
      - Contacts
      summary: Create a contact
      description: Creates a contact.
      operationId: CreateContact
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: When the authenticated account does not have access to create contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contacts/{id}:
    get:
      tags:
      - Contacts
      summary: Get a contact
      description: Retrieves a specified contact.
      operationId: GetContactById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a 'Contact' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - Contacts
      summary: Update a contact
      description: Updates a specified contact.
      operationId: UpdateContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactDto'
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Contacts
      summary: Delete a contact
      description: Deletes a specified contact.
      operationId: DeleteContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contacts/{id}/tags:
    get:
      tags:
      - Contacts
      summary: Get contact tags
      description: Retrieves a specified contacts tags.
      operationId: GetContactTagsById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a collection of 'Tag' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCollection'
        '403':
          description: When contact with specified id is not associated with authenticated client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    post:
      tags:
      - Contacts
      summary: Add tags to a contact
      description: Adds tags to a contact.
      operationId: AddContactTags
      parameters:
      - name: id
        in: path
        description: The contact ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The list of tags to add
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '201':
          description: When request is successful. Returns a hypermedia 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contacts/{id}/tags/{tagId}:
    delete:
      tags:
      - Contacts
      summary: Remove tags from a contact
      description: Removes tags from a contact.
      operationId: RemoveContactTags
      parameters:
      - name: id
        in: path
        description: The contact ID
        required: true
        schema:
          type: string
          format: uuid
      - name: tagId
        in: path
        description: The tag ID (optional for bulk delete)
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The list of tags for bulk delete
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '202':
          description: When request is accepted. Returns a hypermedia 'Link' object of the contact tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When contact with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Link:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
      additionalProperties: false
    PhoneNumberWithExtensionDto:
      type: object
      properties:
        areaCode:
          type:
          - string
          - 'null'
          description: "Phone area code. \n\nOnly supported in the US."
          example: '555'
        number:
          type:
          - string
          - 'null'
          description: Phone number (excluding area code).
          example: '1234567'
        extension:
          type:
          - string
          - 'null'
          description: Phone number extension. Accepts numeric characters only.
          example: '103'
      additionalProperties: false
    TrustDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Trust's name.
          example: Trinity Trust
        status:
          type:
          - string
          - 'null'
          description: 'Trust''s status.


            Standard values are: as Trustee of, as Trustees of, as Co-Trustees of, as an Individual and as Trustee of, as Successor Trustee of.


            A custom value can be supplied instead.'
          example: as Trustee of
        trustNumber:
          type:
          - string
          - 'null'
          description: Trust's number.
          example: '12345678'
        executedDate:
          type:
          - string
          - 'null'
          description: Date trust was executed.
          format: date-time
          example: '1980-07-01'
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Trust's phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Trust's fax details.
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Trust's address.
        trustees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TrusteeDto'
          description: List of trustees.
          example:
          - Name: John Smith
            Type: Individual
          - Name: Smithfield Steel
            Type: Company
      additionalProperties: false
    PersonExecutionOptions:
      type: object
      properties:
        poaType:
          type:
          - string
          - 'null'
          description: Power of Attorney type.
          example: Enduring
        poaDate:
          type:
          - string
          - 'null'
          description: Date the Power of Attorney was executed
          format: date-time
          example: '2023-05-15'
        attorneyName:
          type:
          - string
          - 'null'
          description: Name of the attorney
          example: Jane Doe
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Attorney's address
        poaRegisteredBook:
          type:
          - string
          - 'null'
          description: Power of Attorney registration book reference
        poaRegisteredNumber:
          type:
          - string
          - 'null'
          description: Power of Attorney registration number
        executionType:
          type:
          - string
          - 'null'
          description: Person execution type.
          example: PowerOfAttorney
        poaVoiDetails:
          allOf:
          - $ref: '#/components/schemas/VoiDetails'
          description: Verification of identity details for the attorney (Power of Attorney)
      additionalProperties: false
      description: 'Execution options for individual persons (Power of Attorney)


        Only supported in AU.'
    UtbmsDetails:
      type: object
      properties:
        ledesClientId:
          type:
          - string
          - 'null'
          description: LEDES client Id
      additionalProperties: false
      description: Utbms Details
    DxAddressDto:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        exchange:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
      additionalProperties: false
    AddressWithDxAddressDto:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        buildingLevel:
          type:
          - string
          - 'null'
          description: Building level in address (if applicable).
          example: Level 1
        unitNumber:
          type:
          - string
          - 'null'
          description: Unit number in address (if applicable).
          example: '10'
        unitType:
          type:
          - string
          - 'null'
          description: 'Unit type in address (if applicable). Accepts custom values.


            e.g. Apartment, Unit, Flat, Villa, Suite.'
          example: Suite
        streetNumber:
          type:
          - string
          - 'null'
          description: Street number in address.
          example: '100'
        streetName:
          type:
          - string
          - 'null'
          description: Street name in address.
          example: Broad
        streetType:
          type:
          - string
          - 'null'
          description: 'Street type. Accepts custom values.


            e.g. Street, Road, Avenue, Lane.'
          example: Street
        addressLine1:
          type:
          - string
          - 'null'
          description: 'First line of address.


            Only supported in the US.'
          example: Level 1/10
        addressLine2:
          type:
          - string
          - 'null'
          description: 'Second line of address (if applicable).


            Only supported in the US.'
          example: 100 Broad Street
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
        locality:
          type:
          - string
          - 'null'
          description: 'Locality.


            Only supported in the UK.'
          example: Dunkirk
        county:
          type:
          - string
          - 'null'
          description: 'County.


            Only supported in the US and UK.'
          example: New York
        country:
          type:
          - string
          - 'null'
          description: Country.
          example: United States
        poBox:
          allOf:
          - $ref: '#/components/schemas/PoBoxAddressDto'
          description: 'PO Box details.


            Only supported in AU.'
        dxAddress:
          allOf:
          - $ref: '#/components/schemas/DxAddressDto'
          description: DX address of the company (only applicable for AUS).
      additionalProperties: false
    PersonDto:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
          description: 'Contact person''s title. Accepts custom values.


            e.g. Mr, Mrs, Miss, Honourable, Judge.'
          example: Mr
        firstName:
          type:
          - string
          - 'null'
          description: Contact person's first name.
          example: John
        middleName:
          type:
          - string
          - 'null'
          description: Contact person's middle name (if applicable).
          example: Michael
        lastName:
          type:
          - string
          - 'null'
          description: Contact person's last name.
          example: Smith
        nameSuffix:
          type:
          - string
          - 'null'
          description: Contact person's name suffix (if applicable).
          example: PhD
        customName:
          type:
          - string
          - 'null'
          description: Contact person's custom name to be used in letters (if applicable).
          example: Johnny
        residentialAddress:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Contact person's residential address details.
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: 'Contact person''s mailing address details.


            Only supported in the US.'
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Contact person's phone details.
        phone2:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberWithExtensionDto'
          description: Contact person's alternate phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: 'Contact person''s fax details.


            Only supported in the US.'
        cell:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Contact person's mobile details.
        email:
          type:
          - string
          - 'null'
          description: Contact person's email address.
          example: john.smith@brown.com
        notes:
          type:
          - string
          - 'null'
          description: Additional notes about contact (if applicable).
          example: Prefers to answer work phone.
        occupation:
          type:
          - string
          - 'null'
          description: Contact person's occupation.
          example: Bookkeeper
        birthDate:
          type:
          - string
          - 'null'
          description: Contact person's date of birth.
          format: date-time
          example: '1980-07-01'
        birthPlace:
          type:
          - string
          - 'null'
          description: Contact person's place of birth.
          example: Chicago
        birthState:
          type:
          - string
          - 'null'
          description: Contact person's birth state.
          example: Illinois
        birthCountry:
          type:
          - string
          - 'null'
          description: Contact person's birth country.
          example: Australia
        identificationNumberType:
          type:
          - string
          - 'null'
          description: 'Contact person''s type of identification.


            e.g. SSN, ITIN


            Only supported in the US.'
          example: SSN
        identificationNumber:
          type:
          - string
          - 'null'
          description: 'Contact person''s identification number.


            Only supported in the US.'
          example: PP123456789
        passportDetails:
          allOf:
          - $ref: '#/components/schemas/PassportDetailsDto'
          description: Contact person's passport details.
        deathDetails:
          allOf:
          - $ref: '#/components/schemas/DeathDetailsDto'
          description: Contact person's death details.
        gender:
          type:
          - string
          - 'null'
          description: 'Contact person''s gender.


            Accepted values - Male, Female, Other as well as any free text.'
          example: Male
        maritalStatus:
          type:
          - string
          - 'null'
          description: 'Contact person''s marital status. Accepts custom values.


            e.g. Single, Married, Separated, Divorced, Widowed, De facto.'
          example: Single
        specialNeeds:
          type:
          - string
          - 'null'
          description: Brief description of an special needs (if applicable).
          example: Wheelchair access
        birthFirstName:
          type:
          - string
          - 'null'
          description: Contact person's first name at birth.
          example: James
        birthMiddleName:
          type:
          - string
          - 'null'
          description: Contact person's middle name at birth.
          example: Thomas
        birthLastName:
          type:
          - string
          - 'null'
          description: Contact person's last name at birth.
          example: Jones
        previousNames:
          type:
          - string
          - 'null'
          description: Contact person's previous names.
          example: Jane Smith
        correctionsReferenceNumber:
          type:
          - string
          - 'null'
          description: 'Contact person''s corrections reference number.


            Only supported in Australia.'
        centrelinkReferenceNumber:
          type:
          - string
          - 'null'
          description: 'Contact person''s centrelink reference number.


            Only supported in Australia.'
        identificationDetails:
          allOf:
          - $ref: '#/components/schemas/IdentificationDetailsDto'
          description: Contact person's identification details.
        citizenshipDetails:
          allOf:
          - $ref: '#/components/schemas/CitizenshipDetailsDto'
          description: Contact person's citizenship details.
        utbmsDetails:
          allOf:
          - $ref: '#/components/schemas/UtbmsDetailsDto'
          description: 'Contact''s UTBMS Details


            Only supported in the US.'
        executionOptions:
          allOf:
          - $ref: '#/components/schemas/PersonExecutionOptionsDto'
          description: 'Person''s execution options including Power of Attorney and VOI details.


            Only supported in AU.'
      additionalProperties: false
    PersonExecutionOptionsDto:
      type: object
      properties:
        poaType:
          type:
          - string
          - 'null'
          description: 'Power of Attorney type.


            Possible values: ''None'', ''General'', ''Enduring'', ''Medical'', ''Financial'', ''Other'', ''Unset'''
          example: Enduring
        poaDate:
          type:
          - string
          - 'null'
          description: Date the Power of Attorney was executed
          format: date-time
          example: '2023-05-15'
        attorneyName:
          type:
          - string
          - 'null'
          description: Name of the attorney
          example: Jane Doe
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Attorney's address
        poaRegisteredBook:
          type:
          - string
          - 'null'
          description: Power of Attorney registration book reference
        poaRegisteredNumber:
          type:
          - string
          - 'null'
          description: Power of Attorney registration number
        executionType:
          type:
          - string
          - 'null'
          description: 'Person execution type.


            Possible values: ''Individual'', ''PowerOfAttorney'', ''Other'', ''Unset'', ''None'''
          example: PowerOfAttorney
      additionalProperties: false
      description: 'Execution options for individual persons (Power of Attorney)


        Only supported in AU.'
    Company:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Company's name.
          example: Brown LLC
        type:
          type:
          - string
          - 'null'
          description: 'Company''s type.


            Possible values for US: ''Corporation'', ''Government Agency'', ''Limited Liability Company'', ''Sole Proprietor'', ''Partnership'', ''Not-for-Profit''


            Possible values for AU: ''Company'', ''Sole Proprietor'', ''Partnership'', ''Government Department''


            Possible values for UK: ''Company'', ''Sole Trader'', ''Partnership'', ''Limited Liability Partnership'', ''Government Department'''
          example: Corporation
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Company's phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Company's fax details.
        email:
          type:
          - string
          - 'null'
          description: Company's email address.
          example: contact@brown.com
        website:
          type:
          - string
          - 'null'
          description: Company's website URL.
          example: https://www.brownllc.com
        notes:
          type:
          - string
          - 'null'
          description: Additional notes for company (if applicable).
          example: Construction company
        abn:
          type:
          - string
          - 'null'
          description: 'For AU: Australian Company Number (ABN) of the firm.


            For UK: Company Registration Number (CRN) of the firm.


            Only supported in AU and UK.'
          example: '1234567890'
        companyNumberType:
          type:
          - string
          - 'null'
          description: 'Company''s Australian company number type.


            Accepted values - ACN, ARBN


            Only supported in AU.'
          example: ACN
        companyNumber:
          type:
          - string
          - 'null'
          description: "Company's Australian Company Number.\n            \nOnly supported in AU."
          example: '234567890'
        doingBusinessAsName:
          type:
          - string
          - 'null'
          description: "Doing Business As (DBA) name.\n            \nOnly supported in US."
          example: Brown Holdings
        tradingAs:
          type:
          - string
          - 'null'
          description: "Trading As type (e.g. 'Trading As', 'Doing Business As').\n            \nOnly supported in AU."
          example: Trading As
        tradingName:
          type:
          - string
          - 'null'
          description: "Trading name of the organisation.\n            \nOnly supported in AU and UK."
          example: Brown Trading Co
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Company's mailing address details.
        businessAddress:
          allOf:
          - $ref: '#/components/schemas/AddressWithDxAddress'
          description: Company's business address details.
        staff:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: Company's staff hypermedia links.
          readOnly: true
        directors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: Company's directors hypermedia links.
          readOnly: true
        staffIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Deprecated - use Staff instead. This field may not be supported in future.
          readOnly: true
        executionOptions:
          allOf:
          - $ref: '#/components/schemas/ExecutionOptions'
          description: 'Company''s execution options for document signing and VOI details.


            Only supported in AU.'
      additionalProperties: false
    AddressWithDxAddress:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        buildingLevel:
          type:
          - string
          - 'null'
          description: Building level in address (if applicable).
          example: Level 1
        unitNumber:
          type:
          - string
          - 'null'
          description: Unit number in address (if applicable).
          example: '10'
        unitType:
          type:
          - string
          - 'null'
          description: 'Unit type in address (if applicable). Accepts custom values.


            e.g. Apartment, Unit, Flat, Villa, Suite.'
          example: Suite
        streetNumber:
          type:
          - string
          - 'null'
          description: Street number in address.
          example: '100'
        streetName:
          type:
          - string
          - 'null'
          description: Street name in address.
          example: Broad
        streetType:
          type:
          - string
          - 'null'
          description: 'Street type. Accepts custom values.


            e.g. Street, Road, Avenue, Lane.'
          example: Street
        addressLine1:
          type:
          - string
          - 'null'
          description: First line of address.
          example: Level 1/10
        addressLine2:
          type:
          - string
          - 'null'
          description: Second line of address (if applicable).
          example: 100 Broad Street
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
        locality:
          type:
          - string
          - 'null'
          description: 'Locality.


            Only supported in the UK.'
          example: Dunkirk
        county:
          type:
          - string
          - 'null'
          description: 'County.


            Only supported in the US and UK.'
          example: New York
        country:
          type:
          - string
          - 'null'
          description: Country.
          example: United States
        poBox:
          allOf:
          - $ref: '#/components/schemas/PoBoxAddress'
          description: PO Box details (if applicable).
        dxAddress:
          allOf:
          - $ref: '#/components/schemas/DxAddress'
          description: DX address details (only applicable for AUS).
      additionalProperties: false
    CompanyDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Company's name.
          example: Brown LLC
        type:
          type:
          - string
          - 'null'
          description: 'Company''s type.


            Possible values for US: ''Corporation'', ''Government Agency'', ''Limited Liability Company'', ''Sole Proprietor'', ''Partnership'', ''Not-for-Profit''


            Possible values for AU: ''Company'', ''Sole Proprietor'', ''Partnership'', ''Government Department''


            Possible values for UK: ''Company'', ''Sole Trader'', ''Partnership'', ''Limited Liability Partnership'', ''Government Department'''
          example: Corporation
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Company's phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberDto'
          description: Company's fax details.
        email:
          type:
          - string
          - 'null'
          description: Company's email address.
          example: contact@brown.com
        website:
          type:
          - string
          - 'null'
          description: Company's website URL.
          example: https://www.brownllc.com
        notes:
          type:
          - string
          - 'null'
          description: Additional notes for company (if applicable).
          example: Recently merged with Cyberdyne Inc.
        businessAddress:
          allOf:
          - $ref: '#/components/schemas/AddressWithDxAddressDto'
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Only applicable for USA.
        abn:
          type:
          - string
          - 'null'
          description: 'For AU: Australian Company Number (ABN) of the company.


            For UK: Company Registration Number (CRN) of the company.


            Only supported in AU and UK.'
          example: '1234567890'
        companyNumberType:
          type:
          - string
          - 'null'
          description: 'Company''s Australian company number type.


            Possible values: ''ACN'', ''ARBN''


            Only supported in AU.'
          example: ACN
        companyNumber:
          type:
          - string
          - 'null'
          description: 'Company''s Australian Company Number.


            Only supported in AU.'
          example: '234567890'
        doingBusinessAsName:
          type:
          - string
          - 'null'
          description: "Doing Business As (DBA) name.\n            \nOnly supported in US."
          example: Brown Holdings
        tradingAs:
          type:
          - string
          - 'null'
          description: "Trading As type (e.g. 'Trading As', 'Doing Business As').\n            \nOnly supported in AU."
          example: Trading As
        tradingName:
          type:
          - string
          - 'null'
          description: "Trading name of the organisation.\n            \nOnly supported in AU and UK."
          example: Brown Trading Co
        staffIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of Staff IDs for this company.
          example:
          - 73481c13-b7f8-4610-b221-aaccbf7aaade
          - 18cd6029-4a9e-4b99-bae5-710a7d79a19b
        directorIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of Director IDs for this company.
          example:
          - 73481c13-b7f8-4610-b221-aaccbf7aaade
          - 18cd6029-4a9e-4b99-bae5-710a7d79a19b
        executionOptions:
          allOf:
          - $ref: '#/components/schemas/ExecutionOptionsDto'
          description: 'Company''s execution options for document signing and VOI details.


            Only supported in AU.'
      additionalProperties: false
    ExecutionPersonDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Person's full name
          example: John Smith
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Person's address
        personType:
          type:
          - string
          - 'null'
          description: 'Person type for execution.


            Possible values: ''Director'', ''Secretary'', ''SoleDirectorAndSecretary'', ''AuthorisedSignatory'', ''Other'', ''Unset'''
          example: Director
        selectedOfficeHeld:
          type:
          - string
          - 'null'
          description: 'Office held by the person.


            Possible values: ''Director'', ''Secretary'', ''SoleDirectorAndSecretary'', ''Partner'', ''AuthorisedRepresentative'', ''Other'', ''Unset'''
          example: Director
      additionalProperties: false
      description: 'Represents an authorized person for organization execution


        Only supported in AU.'
    AddressDto:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        buildingLevel:
          type:
          - string
          - 'null'
          description: Building level in address (if applicable).
          example: Level 1
        unitNumber:
          type:
          - string
          - 'null'
          description: Unit number in address (if applicable).
          example: '10'
        unitType:
          type:
          - string
          - 'null'
          description: 'Unit type in address (if applicable). Accepts custom values.


            e.g. Apartment, Unit, Flat, Villa, Suite.'
          example: Suite
        streetNumber:
          type:
          - string
          - 'null'
          description: Street number in address.
          example: '100'
        streetName:
          type:
          - string
          - 'null'
          description: Street name in address.
          example: Broad
        streetType:
          type:
          - string
          - 'null'
          description: 'Street type. Accepts custom values.


            e.g. Street, Road, Avenue, Lane.'
          example: Street
        addressLine1:
          type:
          - string
          - 'null'
          description: 'First line of address.


            Only supported in the US.'
          example: Level 1/10
        addressLine2:
          type:
          - string
          - 'null'
          description: 'Second line of address (if applicable).


            Only supported in the US.'
          example: 100 Broad Street
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
        locality:
          type:
          - string
          - 'null'
          description: 'Locality.


            Only supported in the UK.'
          example: Dunkirk
        county:
          type:
          - string
          - 'null'
          description: 'County.


            Only supported in the US and UK.'
          example: New York
        country:
          type:
          - string
          - 'null'
          description: Country.
          example: United States
        poBox:
          allOf:
          - $ref: '#/components/schemas/PoBoxAddressDto'
          description: 'PO Box details.


            Only supported in AU.'
      additionalProperties: false
    Contact:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the contact.
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        externalSystemId:
          type:
          - string
          - 'null'
          description: External system id for the contact.
          example: EXT01
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the record.
          example: 750eb5c5-ac0b-7d11-4997-e0ce9d8896c8
        person:
          allOf:
          - $ref: '#/components/schemas/Person'
          description: Contact person details (if applicable).
        company:
          allOf:
          - $ref: '#/components/schemas/Company'
          description: Contact company details (if applicable).
        trust:
          allOf:
          - $ref: '#/components/schemas/Trust'
          description: 'Contact trust details (if applicable).


            Note that Trust is only supported in the US. It is not available in other regions.'
        groupOfPeople:
          allOf:
          - $ref: '#/components/schemas/GroupOfPeople'
          description: Contact group details (if applicable).
        isDeleted:
          type: boolean
          description: Returns true if the contact is deleted.
          example: true
        lastUpdated:
          type: integer
          description: Last updated timestamp.
          format: int64
          example: 637847425252027400
        tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Tag'
          description: Set of contact's tags.
      additionalProperties: false
    GroupOfPeople:
      type: object
      properties:
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: List of contact person hypermedia links.
        residentialAddress:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Contact group's residential address details.
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: "Contact group's mailing address details.\n            \nOnly supported in the US."
        name:
          type:
          - string
          - 'null'
          description: Names of the people in the group. Limited to the first 5 names.
          example: John Smith & Jane Citizen
      additionalProperties: false
    CitizenshipDetailsDto:
      type: object
      properties:
        countryOfCitizenship:
          type:
          - string
          - 'null'
          description: Country of citizenship
          example: USA
        nationality:
          type:
          - string
          - 'null'
          description: Nationality
          example: American
        languageOfInterpreter:
          type:
          - string
          - 'null'
          description: Language of interpreter
          example: French
      additionalProperties: false
    PoBoxAddress:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        poBoxType:
          type:
          - string
          - 'null'
          description: "PO Box type. Accepts custom values.\n            \ne.g. Care PO, PO Box, Locked Bag, RMS."
          example: Locked Bag
        poBoxNumber:
          type:
          - string
          - 'null'
          description: PO Box number.
          example: '12345'
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
      additionalProperties: false
    VoiDetails:
      type: object
      properties:
        isCompleted:
          type: boolean
          description: Indicates if VOI has been completed
          example: true
        completedDateTime:
          type:
          - string
          - 'null'
          description: Date and time when VOI was completed
          format: date-time
          example: '2024-01-15T10:30:00Z'
        reference:
          type:
          - string
          - 'null'
          description: Reference number or order ID from the VOI service
          example: '12345678'
        source:
          type:
          - string
          - 'null'
          description: Source/provider of the VOI service
          example: InfoTrackID
        status:
          type:
          - string
          - 'null'
          description: Current status of the VOI check
          example: Complete
      additionalProperties: false
      description: 'Verification of Identity (VOI) details


        Only supported in AU.'
    ExecutionOptions:
      type: object
      properties:
        person1:
          allOf:
          - $ref: '#/components/schemas/ExecutionPerson'
          description: First authorized person for execution
        person2:
          allOf:
          - $ref: '#/components/schemas/ExecutionPerson'
          description: Second authorized person for execution
        executingUnder127:
          type:
          - boolean
          - 'null'
          description: Indicates if executing under section 127
        executingAuthority:
          type:
          - string
          - 'null'
          description: Executing authority details
        sealType:
          type:
          - string
          - 'null'
          description: Seal type for execution.
          example: WithSeal
        authorisedDepositTakingInstitution:
          type:
          - boolean
          - 'null'
          description: Indicates if organization is an Authorised Deposit Taking Institution
        poaRegistrationNumber:
          type:
          - string
          - 'null'
          description: Power of Attorney registration number
        attorneyNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of attorney names
        executionType:
          type:
          - string
          - 'null'
          description: Execution type.
          example: JointDirectors
      additionalProperties: false
      description: 'Execution options for organizations


        Only supported in AU.'
    TrusteeDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Trustee's name.
          example: John Smith
        type:
          type:
          - string
          - 'null'
          description: 'Type of trustee.


            Standard values are: Company, Individual.


            A custom value can be supplied instead.'
          example: Individual
      additionalProperties: false
    PoBoxAddressDto:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        poBoxType:
          type:
          - string
          - 'null'
          description: "PO Box type. Accepts custom values.\n            \ne.g. Care PO, PO Box, Locked Bag, RMS."
          example: Locked Bag
        poBoxNumber:
          type:
          - string
          - 'null'
          description: PO Box number.
          example: '12345'
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
      additionalProperties: false
      description: PO Box address.
    PassportDetails:
      type: object
      properties:
        passportNumber:
          type:
          - string
          - 'null'
          description: Contact person's passport number.
          example: AB123456
        passportIssueDate:
          type:
          - string
          - 'null'
          description: Contact person's passport issue date.
          format: date-time
          example: '2010-08-01'
        passportExpireDate:
          type:
          - string
          - 'null'
          description: Contact person's passport expiry date.
          format: date-time
          example: '2030-08-01'
        passportIssueCountry:
          type:
          - string
          - 'null'
          description: Contact person's passport country of issue.
          example: USA
        passportIssueAuthority:
          type:
          - string
          - 'null'
          description: "Contact person's passport issuing authority.\n            \nOnly supported in the UK."
          example: HM Passport Office
      additionalProperties: false
    Trustee:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Trustee's name.
          example: John Smith
        type:
          type:
          - string
          - 'null'
          description: 'Type of trustee.


            Standard values are: Company, Individual.

            A custom value can be supplied instead.'
          example: Individual
      additionalProperties: false
    ExecutionOptionsDto:
      type: object
      properties:
        person1:
          allOf:
          - $ref: '#/components/schemas/ExecutionPersonDto'
          description: First authorized person for execution
        person2:
          allOf:
          - $ref: '#/components/schemas/ExecutionPersonDto'
          description: Second authorized person for execution
        executingUnder127:
          type:
          - boolean
          - 'null'
          description: Indicates if executing under section 127
        executingAuthority:
          type:
          - string
          - 'null'
          description: Executing authority details
        sealType:
          type:
          - string
          - 'null'
          description: 'Seal type for execution.


            Possible values: ''WithSeal'', ''WithoutSeal'', ''Unset'''
          example: WithSeal
        authorisedDepositTakingInstitution:
          type:
          - boolean
          - 'null'
          description: Indicates if organization is an Authorised Deposit Taking Institution
        poaRegistrationNumber:
          type:
          - string
          - 'null'
          description: Power of Attorney registration number
        attorneyNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of attorney names
          example:
          - John Smith
          - Jane Doe
        executionType:
          type:
          - string
          - 'null'
          description: 'Execution type.


            Possible values: ''Individual'', ''SoleDirector'', ''JointDirectors'', ''Director'', ''Secretary'', ''Authorised'', ''Other'', ''Unset'', ''None'''
          example: JointDirectors
      additionalProperties: false
      description: 'Execution options for organizations (Company, Partnership, Sole Proprietor)


        Only supported in AU.'
    PhoneNumber:
      type: object
      properties:
        areaCode:
          type:
          - string
          - 'null'
          description: Phone area code.
          example: '555'
        number:
          type:
          - string
          - 'null'
          description: Phone number (excluding area code).
          example: '1234567'
      additionalProperties: false
    TagCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Tag'
      additionalProperties: false
    PhoneNumberDto:
      type: object
      properties:
        areaCode:
          type:
          - string
          - 'null'
          description: Phone area code.
          example: '555'
        number:
          type:
          - string
          - 'null'
          description: Phone number (excluding area code).
          example: '1234567'
      additionalProperties: false
    Person:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
          description: 'Contact person''s title. Accepts custom values.


            e.g. Mr, Mrs, Miss, Honourable, Judge.'
          example: Mr
        firstName:
          type:
          - string
          - 'null'
          description: Contact person's first name.
          example: John
        middleName:
          type:
          - string
          - 'null'
          description: Contact person's middle name (if applicable).
          example: Michael
        lastName:
          type:
          - string
          - 'null'
          description: Contact person's last name.
          example: Smith
        nameSuffix:
          type:
          - string
          - 'null'
          description: Contact person's name suffix (if applicable).
          example: PhD
        customName:
          type:
          - string
          - 'null'
          description: Contact person's custom name to be used in letters (if applicable).
          example: Johnny
        residentialAddress:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Contact person's residential address details.
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: 'Contact person''s mailing address details.


            Only supported in the US.'
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Contact person's phone details.
        phone2:
          allOf:
          - $ref: '#/components/schemas/PhoneNumberWithExtension'
          description: Contact person's alternate phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: "Contact person's fax details. \n\nOnly supported in the US."
        cell:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Contact person's mobile details.
        email:
          type:
          - string
          - 'null'
          description: Contact person's email address.
          example: john.smith@brown.com
        notes:
          type:
          - string
          - 'null'
          description: Additional notes about contact (if applicable).
          example: Prefers to answer work phone.
        occupation:
          type:
          - string
          - 'null'
          description: Contact person's occupation.
          example: Bookkeeper
        gender:
          type:
          - string
          - 'null'
          description: 'Contact person''s gender.


            Accepted values - Male, Female, Other as well as any free text.'
          example: Male
        maritalStatus:
          type:
          - string
          - 'null'
          description: 'Contact person''s marital status. Accepts custom values.


            e.g. Single, Married, Separated, Divorced, Widowed, De facto.'
          example: Single
        specialNeeds:
          type:
          - string
          - 'null'
          description: 'Brief description of any special needs (if applicable).


            Only supported in Australia.'
          example: Wheelchair access
        birthDate:
          type:
          - string
          - 'null'
          description: Contact person's date of birth.
          format: date-time
          example: '1980-07-01'
        birthPlace:
          type:
          - string
          - 'null'
          description: Contact person's place of birth.
          example: Chicago
        birthState:
          type:
          - string
          - 'null'
          description: Contact person's birth state.
          example: Illinois
        birthCountry:
          type:
          - string
          - 'null'
          description: Contact person's birth country.
          example: USA
        identificationNumberType:
          type:
          - string
          - 'null'
          description: Contact person's type of identification.
          example: Passport
        identificationNumber:
          type:
          - string
          - 'null'
          description: Contact person's identification number.
          example: PP123456789
        birthFirstName:
          type:
          - string
          - 'null'
          description: Contact person's first name at birth.
          example: James
        birthMiddleName:
          type:
          - string
          - 'null'
          description: Contact person's middle name at birth.
          example: Thomas
        birthLastName:
          type:
          - string
          - 'null'
          description: Contact person's last name at birth.
          example: Jones
        previousNames:
          type:
          - string
          - 'null'
          description: Contact person's previous names.
          example: Jane Smith
        passportDetails:
          allOf:
          - $ref: '#/components/schemas/PassportDetails'
          description: Contact person's passport details.
        deathDetails:
          allOf:
          - $ref: '#/components/schemas/DeathDetails'
          description: Contact person's death details.
        correctionsReferenceNumber:
          type:
          - string
          - 'null'
          description: 'Contact person''s corrections reference number.


            Only supported in Australia.'
        centrelinkReferenceNumber:
          type:
          - string
          - 'null'
          description: 'Contact person''s centrelink reference number.


            Only supported in Australia.'
        citizenshipDetails:
          allOf:
          - $ref: '#/components/schemas/CitizenshipDetails'
          description: Contact person's citizenship details.
        utbmsDetails:
          allOf:
          - $ref: '#/components/schemas/UtbmsDetails'
          description: 'Contact''s UTBMS Details.


            Only supported in the US.'
        executionOptions:
          allOf:
          - $ref: '#/components/schemas/PersonExecutionOptions'
          description: 'Person''s execution options including Power of Attorney and VOI details.


            Only supported in AU.'
        voiDetails:
          allOf:
          - $ref: '#/components/schemas/VoiDetails'
          description: 'Person''s verification of identity details.


            Only supported in AU.'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Tag:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Identifier of the tag. Role tags do not have an identifier.
        name:
          type:
          - string
          - 'null'
          description: Name of tag.
        type:
          type: string
          description: Type of tag. Accepted values are 'Role' or 'Custom'
          example: Custom
      additionalProperties: false
      description: Represents a tag with an identifier, name, and type.
    UtbmsDetailsDto:
      type: object
      properties:
        ledesClientId:
          type:
          - string
          - 'null'
          description: LEDES client Id
      additionalProperties: false
      description: Utbms Details
    Trust:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Trust's name.
          example: Trinity Trust
        status:
          type:
          - string
          - 'null'
          description: 'Trust''s status.


            Standard values are: as Trustee of, as Trustees of, as Co-Trustees of, as an Individual and as Trustee of, as Successor Trustee of.

            A custom value can be supplied instead.'
          example: as Trustee of
        trustNumber:
          type:
          - string
          - 'null'
          description: Trust's number.
          example: '12345678'
        executedDate:
          type:
          - string
          - 'null'
          description: Date trust was executed.
          format: date-time
          example: '1980-07-01'
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Trust's phone details.
        fax:
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
          description: Trust's fax details.
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Trust's address.
        trustees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Trustee'
          description: List of trustees.
          example:
          - Name: John Smith
            Type: Individual
          - Name: Smithfield Steel
            Type: Company
        contacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: Trust's contacts hypermedia links.
          readOnly: true
      additionalProperties: false
    DeathDetails:
      type: object
      properties:
        deathDate:
          type:
          - string
          - 'null'
          description: Contact person's date of death.
          format: date-time
          example: '2020-08-01'
        isDeathDateUnknown:
          type: boolean
          description: Whether the person's exact date of death is known.
          example: false
        deathDateFrom:
          type:
          - string
          - 'null'
          description: Starting range for person's possible date of death.
          format: date-time
          example: '2020-08-01'
        deathDateTo:
          type:
          - string
          - 'null'
          description: Ending range for person's possible date of death.
          format: date-time
          example: '2020-08-01'
        deathPlace:
          type:
          - string
          - 'null'
          description: Contact person's place of death.
          example: Chicago
        deathState:
          type:
          - string
          - 'null'
          description: "Contact person's death state.\n            \nOnly supported in AU and US."
          example: IL
        deathCountry:
          type:
          - string
          - 'null'
          description: Contact person's death country.
          example: USA
        deathCounty:
          type:
          - string
          - 'null'
          description: "Contact person's death county.\n            \nOnly supported in US."
          example: San Bernardino County
      additionalProperties: false
    CitizenshipDetails:
      type: object
      properties:
        countryOfCitizenship:
          type:
          - string
          - 'null'
          description: Country of citizenship
          example: USA
        nationality:
          type:
          - string
          - 'null'
          description: Nationality
          example: American
        languageOfInterpreter:
          type:
          - string
          - 'null'
          description: Language of interpreter
          example: French
      additionalProperties: false
    DeathDetailsDto:
      type: object
      properties:
        deathDate:
          type:
          - string
          - 'null'
          description: Contact person's date of death.
          format: date-time
          example: '2020-08-01'
        isDeathDateUnknown:
          type: boolean
          description: Whether the person's exact date of death is known.
          example: false
        deathDateFrom:
          type:
          - string
          - 'null'
          description: Starting range for person's possible date of death.
          format: date-time
          example: '2020-08-01'
        deathDateTo:
          type:
          - string
          - 'null'
          description: Ending range for person's possible date of death.
          format: date-time
          example: '2020-08-01'
        deathPlace:
          type:
          - string
          - 'null'
          description: Contact person's place of death.
          example: Chicago
        deathState:
          type:
          - string
          - 'null'
          description: "Contact person's death state.\n            \nOnly supported in AU and US."
          example: IL
        deathCountry:
          type:
          - string
          - 'null'
          description: Contact person's death country.
          example: USA
        deathCounty:
          type:
          - string
          - 'null'
          description: "Contact person's death county.\n            \nOnly supported in US."
          example: San Bernardino County
      additionalProperties: false
    GroupOfPeopleDto:
      type: object
      properties:
        peopleIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of contact person Ids.
          example:
          - b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
          - 750eb5c5-ac0b-7d11-4997-e0ce9d8896c8
        residentialAddress:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: Contact group's residential address details.
        mailingAddress:
          allOf:
          - $ref: '#/components/schemas/AddressDto'
          description: "Contact group's mailing address details.\n            \nOnly supported in the US."
      additionalProperties: false
    LinkPagedCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
        offset:
          type:
          - integer
          - 'null'
          format: int32
        limit:
          type:
          - integer
          - 'null'
          format: int32
        size:
          type: integer
          format: int64
        first:
          allOf:
          - $ref: '#/components/schemas/Link'
        previous:
          allOf:
          - $ref: '#/components/schemas/Link'
        next:
          allOf:
          - $ref: '#/components/schemas/Link'
        last:
          allOf:
          - $ref: '#/components/schemas/Link'
      additionalProperties: false
    ExecutionPerson:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Person's full name
          example: John Smith
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Person's address
        personType:
          type:
          - string
          - 'null'
          description: 'Person type for execution.


            Only supported in AU.'
          example: Director
        selectedOfficeHeld:
          type:
          - string
          - 'null'
          description: Office held by the person.
          example: Director
        voiDetails:
          allOf:
          - $ref: '#/components/schemas/VoiDetails'
          description: Verification of identity details for this person
      additionalProperties: false
      description: 'Represents an authorized person for organization execution


        Only supported in AU.'
    PassportDetailsDto:
      type: object
      properties:
        passportNumber:
          type:
          - string
          - 'null'
          description: Contact person's passport number.
          example: AB123456
        passportIssueDate:
          type:
          - string
          - 'null'
          description: Contact person's passport issue date.
          format: date-time
          example: '2010-08-01'
        passportExpireDate:
          type:
          - string
          - 'null'
          description: Contact person's passport expiry date.
          format: date-time
          example: '2030-08-01'
        passportIssueCountry:
          type:
          - string
          - 'null'
          description: Contact person's passport country of issue.
          example: USA
        passportIssueAuthority:
          type:
          - string
          - 'null'
          description: "Contact person's passport issuing authority.\n            \nOnly supported in the UK."
          example: HM Passport Office
      additionalProperties: false
    Address:
      type: object
      properties:
        careOf:
          type:
          - string
          - 'null'
          description: Care of the addressee (if applicable).
          example: John Smith
        buildingLevel:
          type:
          - string
          - 'null'
          description: Building level in address (if applicable).
          example: Level 1
        unitNumber:
          type:
          - string
          - 'null'
          description: Unit number in address (if applicable).
          example: '10'
        unitType:
          type:
          - string
          - 'null'
          description: 'Unit type in address (if applicable). Accepts custom values.


            e.g. Apartment, Unit, Flat, Villa, Suite.'
          example: Suite
        streetNumber:
          type:
          - string
          - 'null'
          description: Street number in address.
          example: '100'
        streetName:
          type:
          - string
          - 'null'
          description: Street name in address.
          example: Broad
        streetType:
          type:
          - string
          - 'null'
          description: 'Street type. Accepts custom values.


            e.g. Street, Road, Avenue, Lane.'
          example: Street
        addressLine1:
          type:
          - string
          - 'null'
          description: First line of address.
          example: Level 1/10
        addressLine2:
          type:
          - string
          - 'null'
          description: Second line of address (if applicable).
          example: 100 Broad Street
        city:
          type:
          - string
          - 'null'
          description: City, district, suburb, town, or village.
          example: Chicago
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: IL
        zipCode:
          type:
          - string
          - 'null'
          description: Zip or post code.
          example: '60606'
        locality:
          type:
          - string
          - 'null'
          description: 'Locality.


            Only supported in the UK.'
          example: Dunkirk
        county:
          type:
          - string
          - 'null'
          description: 'County.


            Only supported in the US and UK.'
          example: New York
        country:
          type:
          - string
          - 'null'
          description: Country.
          example: United States
        poBox:
          allOf:
          - $ref: '#/components/schemas/PoBoxAddress'
          description: PO Box details (if applicable).
      additionalProperties: false
    ContactPagedCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Contact'
        offset:
          type:
          - integer
          - 'null'
          format: int32
        limit:
          type:
          - integer
          - 'null'
          format: int32
        size:
          type: integer
          format: int64
        first:
          allOf:
          - $ref: '#/components/schemas/Link'
        previous:
          allOf:
          - $ref: '#/components/schemas/Link'
        next:
          allOf:
          - $ref: '#/components/schemas/Link'
        last:
          allOf:
          - $ref: '#/components/schemas/Link'
      additionalProperties: false
    IdentificationDetailsDto:
      type: object
      properties:
        alienNumber:
          type:
          - string
          - 'null'
          description: 'Alien number

            Only supported in the US.'
        registrationAuthority:
          type:
          - string
          - 'null'
          description: 'Registration authority

            Only supported in the US.'
        registrationNumber:
          type:
          - string
          - 'null'
          description: 'Registration number

            Only supported in the US.'
        driversLicenseNumber:
          type:
          - string
          - 'null'
          description: Driver's license number
        driversLicenseState:
          type:
          - string
          - 'null'
          description: 'Driver''s licence state

            <example>IL</example><example>NSW</example>'
        medicareNumber:
          type:
          - string
          - 'null'
          description: Medicare number
        nhsNumber:
          type:
          - string
          - 'null'
          description: 'NHS (National Health Service) number

            Only supported in UK.'
      additionalProperties: false
    DxAddress:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
          description: Direct Exchange number (if applicable).
          example: '376'
        exchange:
          type:
          - string
          - 'null'
          description: Direct Exchange name.
          example: DX
        state:
          type:
          - string
          - 'null'
          description: State, province, or region.
          example: NSW
      additionalProperties: false
    ContactDto:
      type: object
      properties:
        externalSystemId:
          type:
          - string
          - 'null'
          description: External system id for the contact.
          example: EXT01
        person:
          allOf:
          - $ref: '#/components/schemas/PersonDto'
          description: Contact person details (if applicable).
        company:
          allOf:
          - $ref: '#/components/schemas/CompanyDto'
          description: Contact company details (if applicable).
        trust:
          allOf:
          - $ref: '#/components/schemas/TrustDto'
          description: 'Contact trust details (if applicable).


            Only supported in US.'
        groupOfPeople:
          allOf:
          - $ref: '#/components/schemas/GroupOfPeopleDto'
          description: 'Contact group details (if applicable).


            Only supported in US and AU.'
        isDeleted:
          type: boolean
          description: Contact can be restored by setting this to false.
          example: false
      additionalProperties: false
    PhoneNumberWithExtension:
      type: object
      properties:
        areaCode:
          type:
          - string
          - 'null'
          description: 'Phone area code.


            Only supported in the US.'
          example: '555'
        number:
          type:
          - string
          - 'null'
          description: Phone number (excluding area code).
          example: '1234567'
        extension:
          type:
          - string
          - 'null'
          description: Phone number extension.
          example: '103'
      additionalProperties: false
    ContactRelationDto:
      type: object
      properties:
        relatedContactId:
          type:
          - string
          - 'null'
          description: Unique identifier of the related contact.
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        businessRole:
          type:
          - string
          - 'null'
          description: 'Business role of related contact.


            Only applicable for companies (not trusts).'
          example: Bookkeeper
      additionalProperties: false
  securitySchemes:
    api-key:
      type: apiKey
      name: x-api-key
      in: header
    token:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
