openapi: 3.2.0
info:
  title: Smokeball Subscription Promotions API
  version: '1.0'
  description: REST API for integrating with Smokeball legal practice management software. Supports matters, contacts, documents, time entries, billing, trust accounting, staff, webhooks, and law firm workflows across US, AU, and UK regions. Uses OAuth 2.0 (client credentials) authentication.
  contact:
    name: Smokeball Developer Support
    url: https://docs.smokeball.com/docs/api-docs/1e13a13124aee-introduction
  x-api-id: smokeball
  x-audience: external-public
servers:
- url: https://api.smokeball.com
- url: https://api.smokeball.com.au
- url: https://api.smokeball.co.uk
- url: https://stagingapi.smokeball.com
- url: https://stagingapi.smokeball.com.au
- url: https://stagingapi.smokeball.co.uk
security:
- api-key: []
  token: []
tags:
- name: Subscription Promotions
paths:
  /subscriptions/promotions:
    get:
      tags:
      - Subscription Promotions
      summary: Get all promotions
      description: Returns all available promotions with their eligibility criteria and benefits.
      operationId: GetPromotions
      parameters:
      - name: Offset
        in: query
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      - name: Limit
        in: query
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: When request is successful. Returns a paged collection of 'SubscriptionPromotion' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPromotionPagedCollection'
        '500':
          description: When an error occurs while retrieving promotions.
      x-excluded: true
  /subscriptions/promotions/{id}:
    get:
      tags:
      - Subscription Promotions
      summary: Get promotion
      description: Retrieves detailed information for a specific promotion.
      operationId: GetPromotion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a 'SubscriptionPromotion' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPromotion'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: When an error occurs while retrieving promotion.
      x-excluded: true
  /subscriptions/{subscriptionId}/promotions/{id}:
    post:
      tags:
      - Subscription Promotions
      summary: Apply promotion to subscription
      description: 'Applies a promotion to a subscription.


        Important considerations:

        * Some promotions may have redemption limits per subscription

        * Some promotions may have duration limits

        * Signup promotions cannot be applied to an existing subscription

        * Trial promotions are tied to a single tier or add-on'
      operationId: ApplyPromotionAsync
      parameters:
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the promotion to apply
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When subscription or promotion with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: When an error occurs while applying promotion.
      x-excluded: true
    delete:
      tags:
      - Subscription Promotions
      summary: Remove promotion from subscription
      description: Removes a promotion from a subscription.
      operationId: RemovePromotionAsync
      parameters:
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the promotion to remove
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: When request is accepted. Returns a 'Link' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an unsupported request is made.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When subscription or promotion with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: When an error occurs while removing promotion.
      x-excluded: true
components:
  schemas:
    Link:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
      additionalProperties: false
    PromotionCode:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the promotion code.
          example: promo_code_1234
        name:
          type:
          - string
          - 'null'
          description: Display name of the promotion code.
          example: SUMMER2024
        description:
          type:
          - string
          - 'null'
          description: The description of the promotion code.
          example: 100% discount!
        code:
          type:
          - string
          - 'null'
          description: The actual code that customers can use.
          example: SUMMER2024
        active:
          type: boolean
          description: Whether this promotion code is currently active.
        minimumAmount:
          type:
          - integer
          - 'null'
          description: Minimum amount in cents required to apply this promotion code.
          format: int64
          example: 5000
        firstTimeCustomersOnly:
          type: boolean
          description: Whether this code can only be used by first-time customers.
        limit:
          type:
          - integer
          - 'null'
          description: 'Maximum number of times this code can be used.

            Null means unlimited uses.'
          format: int64
          example: 100
        createdDate:
          type: string
          description: When the promotion code was created.
          format: date-time
          example: '2024-01-15T10:00:00Z'
        expiratonDate:
          type:
          - string
          - 'null'
          description: 'When the promotion code expires.

            Null if the code does not expire.'
          format: date-time
          example: '2024-12-31T23:59:59Z'
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Additional metadata associated with the promotion code.
      additionalProperties: false
    Tier:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the tier.
          format: uuid
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        smokeballId:
          type:
          - string
          - 'null'
          description: "Unique Smokeball identifier of the tier. \n\nThis identifier convenience purposes only and should not be used to interact with the subscriptions API."
        productSuite:
          type:
          - string
          - 'null'
          description: The product suite that this tier belongs to.
        name:
          type:
          - string
          - 'null'
          description: The display name of the tier.
          example: Intake
        description:
          type:
          - string
          - 'null'
          description: 'The description of the tier.


            Can be used to describe the tier to a customer.'
        trialPeriodDays:
          type:
          - integer
          - 'null'
          description: 'The number of days the tier can be trialed for.


            Cannot be trialed if zero or missing.'
          format: int32
        prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Price'
          description: The price options for the tier.
        createdDate:
          type: string
          description: The created date of the tier.
          format: date-time
          example: '2022-04-23T14:00:00Z'
        updatedDate:
          type: string
          description: The updated date of the tier.
          format: date-time
          example: '2022-04-23T14:00:00Z'
      additionalProperties: false
    SubscriptionPromotion:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the promotion.
          format: uuid
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        productSuite:
          type:
          - string
          - 'null'
          description: The product suite that this promotion belongs to.
        tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Tier'
          description: 'List of tiers this promotion can be applied to.

            If tiers and add-ons are both empty, the promotion can be applied to any tier or add-on.'
        addOns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AddOn'
          description: 'List of add-ons this promotion can be applied to.

            If tiers and add-ons are both empty, the promotion can be applied to any tier or add-on.'
        usage:
          type:
          - array
          - 'null'
          items:
            type: string
            description: 'The usage context of a promotion.


              The context can be used by apps to determine how and when to apply a promotion.'
          description: 'Intended usage type for this promotion.


            * Manual - Promotion can be applied manually at any time (with a code).


            * Trial - The promotion can be used for trialing tiers or add-ons.


            * CancelRetention - The promotion can be used when the user is trying to cancel their subscription.


            * DowngradeRetention - The promotion can be used when the user is trying to downgrade their subscription.


            * Signup - The promotion can be used on sign up.'
        name:
          type:
          - string
          - 'null'
          description: Display name of the promotion.
          example: Summer Sale 2024
        description:
          type:
          - string
          - 'null'
          description: Description of the promotion.
          example: Summer Sale 2024
        durationDays:
          type:
          - integer
          - 'null'
          description: 'Number of days the promotion applies for.


            For example, if the promotion is a trial promotion, how many days the associated tier or add-on will be trialed for.'
          format: int64
          example: 7
        amountOff:
          type:
          - integer
          - 'null'
          description: 'Fixed amount off (in cents).

            Only one of AmountOff or PercentOff will be set.'
          format: int64
          example: 2000
        percentOff:
          type:
          - number
          - 'null'
          description: 'Percentage discount.

            Only one of AmountOff or PercentOff will be set.'
          format: double
          example: 20.5
        active:
          type: boolean
          description: Whether the promotion is currently valid and can be applied.
        numUsed:
          type: integer
          description: Number of times this promotion has been used.
          format: int64
          example: 42
        createdDate:
          type: string
          description: When the promotion was created.
          format: date-time
          example: '2024-01-15T10:00:00Z'
        expirationDate:
          type:
          - string
          - 'null'
          description: 'When the promotion expires.

            Null if the promotion does not expire.'
          format: date-time
          example: '2024-12-31T23:59:59Z'
        codes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromotionCode'
          description: List of promotion codes associated with this promotion.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Additional metadata associated with the promotion code.
        isPersistent:
          type: boolean
          description: 'Whether the promotion persists across tier switches.


            For example, if a BILL only promotion is applied to the subscription and the firm upgrades to BOOST, the Promotion should be deactivated.


            * If the promotion is non-persistent, it should be removed completely.


            * If the promotion is persistent and the firm reverts back to BILL at a later date, the promotion should automatically be reactivated.'
        isFree:
          type: boolean
          description: Whether this promotion makes the targeted tier or add-on free.
        deleted:
          type:
          - boolean
          - 'null'
          description: Whether this promotion has been deleted.
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Price:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: The internal price id.
        externalPriceId:
          type:
          - string
          - 'null'
          description: The external price id.
        default:
          type: boolean
          description: Returns `true` if the price is the default price.
          example: true
        active:
          type: boolean
          description: Returns `true` if the Price is active.
          example: true
        type:
          type: string
          description: The type of price.
          example: Recurring
        name:
          type:
          - string
          - 'null'
          description: The price display name.
          example: '"$109 per user/month"'
        amount:
          type:
          - number
          - 'null'
          description: The per user amount for this pricing option for the specified interval (in cents).
          format: double
          example: 5900
        interval:
          type: string
          description: Recurring payment interval type.
          example: Monthly
      additionalProperties: false
    SubscriptionPromotionPagedCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubscriptionPromotion'
        offset:
          type:
          - integer
          - 'null'
          format: int32
        limit:
          type:
          - integer
          - 'null'
          format: int32
        size:
          type: integer
          format: int64
        first:
          allOf:
          - $ref: '#/components/schemas/Link'
        previous:
          allOf:
          - $ref: '#/components/schemas/Link'
        next:
          allOf:
          - $ref: '#/components/schemas/Link'
        last:
          allOf:
          - $ref: '#/components/schemas/Link'
      additionalProperties: false
    AddOn:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the add-on.
          format: uuid
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        smokeballId:
          type:
          - string
          - 'null'
          description: "Unique Smokeball identifier of the add-on. \n\nThis identifier convenience purposes only and should not be used to interact with the subscriptions API."
        productSuite:
          type:
          - string
          - 'null'
          description: The product suite that this add-on belongs to.
        name:
          type:
          - string
          - 'null'
          description: The display name of the add-on.
          example: Intake
        description:
          type:
          - string
          - 'null'
          description: 'The description of the add-on.


            Can be used to describe the add-on to a customer.'
        trialPeriodDays:
          type:
          - integer
          - 'null'
          description: 'The number of days the add-on can be trialed for.


            Cannot be trialed if zero or missing.'
          format: int32
        prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Price'
          description: The price options for the add-on.
        createdDate:
          type: string
          description: The created date of the add-on.
          format: date-time
          example: '2022-04-23T14:00:00Z'
        updatedDate:
          type: string
          description: The updated date of the add-on.
          format: date-time
          example: '2022-04-23T14:00:00Z'
      additionalProperties: false
  securitySchemes:
    api-key:
      type: apiKey
      name: x-api-key
      in: header
    token:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
