openapi: 3.2.0
info:
  title: Smokeball Layout Designs API
  version: '1.0'
  description: REST API for integrating with Smokeball legal practice management software. Supports matters, contacts, documents, time entries, billing, trust accounting, staff, webhooks, and law firm workflows across US, AU, and UK regions. Uses OAuth 2.0 (client credentials) authentication.
  contact:
    name: Smokeball Developer Support
    url: https://docs.smokeball.com/docs/api-docs/1e13a13124aee-introduction
  x-api-id: smokeball
  x-audience: external-public
servers:
- url: https://api.smokeball.com
- url: https://api.smokeball.com.au
- url: https://api.smokeball.co.uk
- url: https://stagingapi.smokeball.com
- url: https://stagingapi.smokeball.com.au
- url: https://stagingapi.smokeball.co.uk
security:
- api-key: []
  token: []
tags:
- name: Layout Designs
paths:
  /layouts:
    get:
      tags:
      - Layout Designs
      summary: Get layout designs
      description: Returns a list of layout designs.
      operationId: GetLayoutDesigns
      parameters:
      - name: Offset
        in: query
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      - name: Limit
        in: query
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: When request is successful. Returns a paged collection of 'LayoutDesignInfo' objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutDesignInfoPagedCollection'
  /layouts/{id}:
    get:
      tags:
      - Layout Designs
      summary: Get a layout design
      description: Retrieves a specified layout design.
      operationId: GetLayoutDesignById
      parameters:
      - name: id
        in: path
        description: Layout design Id
        required: true
        schema:
          type: string
      - name: matterTypeId
        in: query
        description: Matter type identifier (optional)
        schema:
          type: string
      - name: state
        in: query
        description: State identifier (optional)
        schema:
          type: string
      responses:
        '200':
          description: When request is successful. Returns a 'LayoutDesign' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutDesign'
        '404':
          description: When layout design with specified id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    LayoutDesignField:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name (mapping) of the layout design field.
          example: PinAndLotSizes[]/AccountNumber
        type:
          type: string
          description: "Type of the layout design field.\n            \nPossible values: 'Text','Combobox','Checkbox','Date','Role','Number'.\n            \n'Role' type can represent a matter role (for a top-level layout item) or a matter relationship (for a sublayout item)."
          example: Combobox
        possibleValues:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of possible values (e.g. for Combobox field).
          example:
          - Residence
          - Commercial
          - Factory
          - Office
      additionalProperties: false
    Link:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
      additionalProperties: false
    LayoutDesignInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the layout design.
          example: 763c3857-2ed9-4c5d-bee0-c48d48a7543e
        name:
          type:
          - string
          - 'null'
          description: Name of the layout design.
          example: Case Details
        lastUpdated:
          type: integer
          description: Last updated timestamp.
          format: int64
          example: 637847425252027400
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LayoutDesign:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the layout design.
          example: 763c3857-2ed9-4c5d-bee0-c48d48a7543e
        name:
          type:
          - string
          - 'null'
          description: Name of the layout design.
          example: Case Details
        lastUpdated:
          type: integer
          description: Last updated timestamp.
          format: int64
          example: 637847425252027400
        description:
          type:
          - string
          - 'null'
          description: Brief description of the layout design.
          example: Property and title details
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LayoutDesignField'
          description: Collection of layout design fields.
      additionalProperties: false
    LayoutDesignInfoPagedCollection:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LayoutDesignInfo'
        offset:
          type:
          - integer
          - 'null'
          format: int32
        limit:
          type:
          - integer
          - 'null'
          format: int32
        size:
          type: integer
          format: int64
        first:
          allOf:
          - $ref: '#/components/schemas/Link'
        previous:
          allOf:
          - $ref: '#/components/schemas/Link'
        next:
          allOf:
          - $ref: '#/components/schemas/Link'
        last:
          allOf:
          - $ref: '#/components/schemas/Link'
      additionalProperties: false
  securitySchemes:
    api-key:
      type: apiKey
      name: x-api-key
      in: header
    token:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
