openapi: 3.2.0
info:
  title: Smokeball Roles API
  version: '1.0'
  description: REST API for integrating with Smokeball legal practice management software. Supports matters, contacts, documents, time entries, billing, trust accounting, staff, webhooks, and law firm workflows across US, AU, and UK regions. Uses OAuth 2.0 (client credentials) authentication.
  contact:
    name: Smokeball Developer Support
    url: https://docs.smokeball.com/docs/api-docs/1e13a13124aee-introduction
  x-api-id: smokeball
  x-audience: external-public
servers:
- url: https://api.smokeball.com
- url: https://api.smokeball.com.au
- url: https://api.smokeball.co.uk
- url: https://stagingapi.smokeball.com
- url: https://stagingapi.smokeball.com.au
- url: https://stagingapi.smokeball.co.uk
security:
- api-key: []
  token: []
tags:
- name: Roles
paths:
  /matters/{matterId}/roles:
    get:
      tags:
      - Roles
      summary: Get roles on a matter
      description: Returns associated roles for a specified matter.
      operationId: GetRolesOnMatter
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a 'MatterRoles' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterRoles'
        '404':
          description: When the specified matter does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    post:
      tags:
      - Roles
      summary: Add role to a matter
      description: Appends a new role in the specified matter.
      operationId: AddAnotherRoleToMatter
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Version
        in: header
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
      responses:
        '202':
          description: When request is accepted. Returns a hypermedia 'Link' object of the role to be created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: When an invalid role is provided for the specified matter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: When the specified matter does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /matters/{matterId}/roles/{id}:
    get:
      tags:
      - Roles
      summary: Get role on a matter
      description: Returns a role in a specified matter.
      operationId: GetRoleOnMatter
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: When request is successful. Returns a 'Role' object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '404':
          description: When the specified matter does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - Roles
      summary: Update role on a matter
      description: Updates a specified role on a matter.
      operationId: UpdateRole
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RoleDto'
      responses:
        '202':
          description: When request is accepted. Returns a hypermedia 'Link' object of the role to be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '404':
          description: When the specified matter does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Roles
      summary: Remove role from a matter
      description: Removes a specified role from a matter.
      operationId: RemoveRoleFromMatter
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Version
        in: header
        schema:
          type: integer
          format: int32
      responses:
        '202':
          description: When request is accepted. Returns a hypermedia 'Link' object of the role to be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '404':
          description: When matter does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Role:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the role.
          example: 009f778f-83df-454a-b344-768a862a7e55
        name:
          type:
          - string
          - 'null'
          description: Name of the role.
          example: Client
        contact:
          allOf:
          - $ref: '#/components/schemas/Link'
          description: Hypermedia link of the associated contact.
        roleDescription:
          type:
          - string
          - 'null'
          description: Name of the role (user editable).
          example: Head Honcho
        description:
          type:
          - string
          - 'null'
          description: Description of the role.
          example: The person for whom I am working
        representatives:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: List of hypermedia links of the associated representatives.
        relationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Relationship'
          description: List of associated relationships.
        isClient:
          type: boolean
          description: Boolean flag indicating if role belongs to a 'Client'.
          example: false
        isOtherSide:
          type: boolean
          description: Boolean flag indicating if role belongs to an 'OtherSide'.
          example: false
      additionalProperties: false
    Link:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
      additionalProperties: false
    RelationshipDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the relationship.
          example: Provider
        displayName:
          type:
          - string
          - 'null'
          description: Display Name of the relationship.
          example: Medical Provider
        contactId:
          type:
          - string
          - 'null'
          description: Unique identifier of the contact.
          example: c85d28cb-a760-4627-aa59-0a853c2e65ed
        representativeIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of associated representative contact ids.
          example:
          - 776e778f-83df-454a-b344-768a862a7e67
        isMatterItemRequired:
          type: boolean
          description: Boolean flag indicating if a matter item is required.
      additionalProperties: false
    Relationship:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the relationship.
          example: 009f778f-83df-454a-b344-768a862a7e55
        name:
          type:
          - string
          - 'null'
          description: Name of the relationship.
          example: Solicitor
        contact:
          allOf:
          - $ref: '#/components/schemas/Link'
          description: Hypermedia link of the associated contact.
        representatives:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
          description: List of hypermedia links of the associated representatives.
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    MatterRoles:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        relation:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
          default: GET
        self:
          allOf:
          - $ref: '#/components/schemas/Link'
        versionId:
          type:
          - string
          - 'null'
          description: Version id of the record.
          example: 832e778f-83df-454a-b344-768a862a7e67
        matterId:
          type:
          - string
          - 'null'
          description: Matter id.
          example: b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2
        roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Role'
          description: List of associated roles.
      additionalProperties: false
    RoleDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the role.
          example: Provider
        displayName:
          type:
          - string
          - 'null'
          description: Display Name of the role.
          example: Medical Provider
        description:
          type:
          - string
          - 'null'
          description: Description of the role.
          example: Client
        contactId:
          type:
          - string
          - 'null'
          description: Unique identifier of the contact.
          example: c85d28cb-a760-4627-aa59-0a853c2e65ed
        representativeIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of associated representative contact ids.
          example:
          - 776e778f-83df-454a-b344-768a862a7e67
        isMatterItemRequired:
          type: boolean
          description: Boolean flag indicating if matter item is required.
        relationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelationshipDto'
          description: List if relationships associated with the role.
      additionalProperties: false
  securitySchemes:
    api-key:
      type: apiKey
      name: x-api-key
      in: header
    token:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
